.icon-arrow_left {
  width: 0.45em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow_right {
  width: 0.44em;
  height: 1em;
  fill: currentColor;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-telegram {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-vk {
  width: 1.5em;
  height: 1em;
  fill: currentColor;
}
