<section class="header">
  <div class="header__inner inner">
    {% include 'partials/_mobile-menu.twig' %}
    <div class="header__logo" id="top-logo">
      <a href="#" class="logo">
        <img src="{{ theme.link }}/img/main_logo.svg" alt="logo" />
      </a>
    </div>
    <ul class="header__navbar">
      {% for item in main_menu.items %}
        <li class="header__navbar-item">
          <a href="{{ item.link }}"
            class="header__navbar-link"
            target="_blank"
            rel="nofollow noreferrer noopener">
            {{ item.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="header__search">
      <span class="header__search-icon"></span>
    </div>
  </div>
</section>
