
<section class="main-section" data-anchor="top">
  <div class="main-section__inner inner">
    <div class="main-section__inner__content">
      <div class="main-section__inner__content__card">
        <div class="card-data">
          <div class="card-data__date">
            {{ post.date }}
          </div>
          <h3 class="card-title">
            {{ post.title }}
          </h3>
           <div>{{ post.content }}</div>
        </div>
      </div>
    </div>
  </div>
</section>
